@import "../init/_init";

.view-taxonomy-term {
    .node--type-news-article {
        &.node--view-mode-teaser {
            .title h3{
                font-size: 1.5em;
                pointer-events: none;
                span {
                    display: none;
                }
                @include space(margin, bottom, 0.5);
            }
        }
    }
}